.feed {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.feed > h3 {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  height: 1em;
  align-items: center;
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.post > img {
    margin : 10px;
}


