.footer1 {
  flex: 1;
  flex-direction: row;
  object-fit: cover;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

.footer2 {
  flex: 1;
  flex-direction: row;
  object-fit: cover;
  margin: auto;
  padding-bottom: 1px;
}

.footer3 {
  flex: 1;
  flex-direction: row;
  margin: auto;
}
