.sidebar {
  display: flex;
  height: 30px;
  background-color: #184c53;
}

.sidebar__left {
  flex: 0.5;
  padding-top: 5px;
  padding-left: 40px;
}

.sidebar__options1 {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: 300;
  font-size: medium;
}

.sidebar__right {
  flex: 0.5;
  padding-top: 5px;
  align-items: center;
  padding-right: 40px;
}

.sidebar__options2 {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: 300;
  font-size: medium;
}
