.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #d6dfde;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 3px 3px 30px 4px rgb(167, 167, 167);
  padding-top: 30px;
  border-radius: 4px;
  background: linear-gradient(180deg, #74c34b -181.69%, #edf2ff 40.16%, #ffffff 100%);
}

.container-image {
  background-color: transparent;
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #fff !important;
}

.email {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}

.name {
  padding-left: 70px;
  font-size: 20px;
}
.second_input {
  padding-top: 20px;
}

button {
  width: 380px;
  height: 50px;
  border-radius: 0px;
  background-color: #808080;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.login-button {
  margin-top: 25px;
}

.link {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.link_Signup {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
