.header {
  display: flex;
  background-color: #050013;
  height: 70px;
}

.header__logo {
  display: flex;
  flex-direction: row-reverse;
  width: 60px;
  height: 60px;
  padding: 10px 10px 10px 150px;
  cursor: pointer;
}

.header__left {
  display: flex;
  flex: 0.5;
  align-items: center;
  padding-top: 25px;
  padding-left: 10px;
  height: 30px;
}

.header__search {
  color: gray;
}

.header__left > input {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
  outline: none;
  width: 500px;
  border-radius: 999px;
}

.header__right {
  display: flex;
  flex: 0.5;
  color: white;
  align-items: center;
  width: 50vw;
  margin-right: 150px;
}

.header__location {
  display: flex;
  margin-left: 400px;
  margin-right: 10px;
  cursor: pointer;
}

.header__menu {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
